#dev_site
{
	background: #e47676;
	border: .1em solid #000;
	border-top-width: 0;
	border-radius: 0 0 .5em .5em;
	top: 0;
	color: #fff;
	opacity: .7;
	padding: .7em 1em;
	position: fixed;
	right: 20vw;
	transform: translateY(0);
	transition: all .5s ease;
	z-index: 100000;
}

body:hover #dev_site
{
	transform: translateY(-80%);
}

body:hover #dev_site:hover
{
	transform: translateY(0);
}